<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/signcs.css" />
    <script
      src="https://kit.fontawesome.com/04885ca4bc.js"
      crossorigin="anonymous"
    ></script>
    <title>Create Account</title>
  </head>
  <body>
    <div
      style="
        grid-row: 1;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
      "
    >
      <p>Welcome new user 😃</p>
      <p>
        To create an account you need the details used in your monthly bill. See
        example below
      </p>
      <p>Firstname: John</p>
      <p>Lastname: Doe</p>
      <p>Phone number: 07xxxxxxxx</p>
      <p>Account Number: L0-00JD</p>
    </div>
    <form action="/signin" method="get" id="first">
      <p>Fill out the form below</p>
      <p class="error hidden" id="error1"></p>
      <input type="text" t name="fname" placeholder="First name" required />
      <input type="text" name="lname" placeholder="Second name" required />
      <input type="tel" name="phone" placeholder="Phone number" required />
      <input type="text" name="account" placeholder="Account no" required />
      <div>
        <input class="send" id="send1" type="submit" value="Verify details" />
      </div>
    </form>
    <div style="grid-row: 2; grid-column: 3"></div>
    <form
      id="second"
      action="/signin"
      method="post"
      style="grid-row: 2; grid-column: 2"
    >
      <p>Enter details that you will use to login to your account</p>
      <p class="error hidden" id="error2"></p>
      <div>
        <input
          id="user"
          type="text"
          name="username"
          placeholder="Username"
          disabled
        />
        <i class="fa-solid fa-circle-check green"></i>
      </div>
      <div>
        <input
          id="pass1"
          type="password"
          name="password"
          placeholder="Password"
          important
          required
          disabled
        />
        <i class="fa-solid fa-circle-check green"></i>
      </div>
      <div>
        <input
          id="pass2"
          type="password"
          name="cpassword"
          placeholder="Confirm password"
          required
          disabled
        />
        <i class="fa-solid fa-circle-check green"></i>
      </div>
      <div>
        <input
          disabled
          id="em"
          type="email"
          name="email"
          placeholder="Email Optional"
        />
        <i class="fa-solid fa-circle-check green"></i>
      </div>
      <div>
        <input
          disabled
          class="send"
          id="send2"
          type="submit"
          value="Create account"
        />
        <i class="fa-solid fa-circle-check green"></i>
      </div>
    </form>
    <script>
      ////////////////////////////////////////////////////////
      //get elements from document
      const pass1 = document.getElementById("pass1");
      const pass2 = document.getElementById("pass2");
      const user = document.getElementById("user");
      const email = document.getElementById("em");
      const form1 = document.getElementById("first");
      const form2 = document.getElementById("second");
      const error = document.getElementById("error2");
      const error2 = document.getElementById("error1");
      const submitbtn2 = document.getElementById("send2");
      const submitbtn1 = document.getElementById("send1");
      /////////////////////////////////////////////////////
      //define functions to be used
      //check value for inputs if have unnecessary symbols prevent SQL injection
      const clean = (element) => {
        var cnstrc = element.value.match(/[^0-9a-z ]/gi);
        console.log(cnstrc);
      };
      //disable html elements from editing
      const disable = (element) => {
        element.setAttribute("disabled", true);
      };
      //enable html elements for editing
      const enable = (element) => {
        element.removeAttribute("disabled");
      };
      /////////////////////////////////////////////////////
      //defining event listeners for web interaction
      submitbtn1.addEventListener("click", function (e) {
        e.preventDefault();
        //get data from form once submitted
        const formdata = new FormData(form1);
        const values = [...formdata.entries()];
        submitbtn1.insertAdjacentHTML(
          "afterend",
          `<i class="fa-solid fa-spinner fa-pulse fa-lg"></i>`
        );
        console.log("First");
        submit();
        //submitbtn1.nextElementSibling.remove();
      });
      //TODO try AJAX xmlhttprequest
      //TODO fetch api for config of verification of details
      submitbtn2.addEventListener("click", function (e) {
        e.preventDefault();
        try {
          let response = fetch("/signin", {
            method: "POST",
            headers: { "content-Type": "application/json" },
            body: JSON.stringify({ ...[...new FormData(form2).values()] }),
          }).then(function (response) {
            if (response.redirected) {
              window.location.href = response.url;
            }
          });
        } catch (error) {
          console.log(error);
        }
      });
      const submit = async () => {
        try {
          let response = await fetch("/trial", {
            method: "POST",
            headers: { "content-Type": "application/json" },
            body: JSON.stringify({ ...[...new FormData(form1).values()] }),
          }).then(function (response) {
            if (response.status !== 200) {
              console.log("ALARRRMM!!!");
              return;
            }
            response.json().then(function (data) {
              //TODO check message that is received
              if (data["message"] == "success") {
                submitbtn1.classList.remove("send");
                submitbtn1.classList.add("accept");
                error2.classList.add("hidden");
                disable(submitbtn1);
                for (let i = 2; i < 7; i++) {
                  enable(form2.children.item(i).children.item(0));
                  console.log(i);
                  //clean(form1.children.item(i));
                  disable(form1.children.item(i));
                }
                submitbtn1.nextSibling.remove();
              } else if (data["message"] == "error") {
                error2.innerHTML =
                  "incorrect details or You already have an account";
                error2.classList.remove("hidden");
                submitbtn1.nextSibling.remove();
              }
            });
          });
          //const result = await response.json();
          //console.log(result);
        } catch (error) {
          console.log("there is an error!!!!", error);
        }
      };
      email.addEventListener("keyup", function () {
        if (email.value != "") {
          if (email.value.match(/[^@]+@[^@]+\.[^@]+/) == null) {
            email.classList.add("pass2");
            console.log("invalid email address");
            error.innerHTML = "invalid email address";
            error.classList.remove("hidden");
          }
        } else if (email.value == "") {
          email.classList.remove("pass2");
          error.classList.add("hidden");
          error.innerHTML = "invalid email address";
          error.classList.remove("hidden");
          disable(submitbtn2);
        } else {
          email.classList.remove("pass2");
          error.classList.add("hidden");
          enable(submitbtn2);
        }
      });
      user.addEventListener("keyup", function () {
        if (user.value.match(/[^0-9a-z ]/gi) != null) {
          console.log("username should not contain symbols");
          error.innerHTML = "username should not contain symbols";
          error.classList.remove("hidden");
          disable(submitbtn2);
        } else {
          error.classList.add("hidden");
          enable(submitbtn2);
        }
      });
      pass1.addEventListener("keyup", function () {
        value = pass1.value;
        val2 = pass2.value;
        if (value != val2) {
          pass2.classList.add("pass2");
        } else {
          pass2.classList.remove("pass2");
        }
      });
      pass2.addEventListener("keyup", function () {
        value = pass1.value;
        val2 = pass2.value;
        if (value != val2) {
          pass2.classList.add("pass2");
          error.innerHTML = "passwords do not match";
          error.classList.remove("hidden");
        } else {
          error.classList.add("hidden");
          pass2.classList.remove("pass2");
          enable(submitbtn2);
        }
      });
    </script>
  </body>
</html>
